<% config.title = lang.views.account.security.title; %>
<% config.sidebar.type = "account"; %>
<% config.sidebar.selected = "security"; %>
    <main class="content-sidebar card">
        <div class="card-block row flex-card">
                <div class="col-lg-12">
                    <h1>
                        <b><%- lang.views.account.security.title %></b>
                    </h1>

                    <div class="alert alert-danger alert-dismissible fade show" role="alert" <%- (errors.messages.length > 0 ? "" : 'style="display:none;"') %>>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong><%- model.register.errors %></strong>
                        <small>
                            <ul>
                                <% errors.messages.forEach((err) => { %>
                                <li><%- err %>
                                <% }); %>
                            </ul>
                        </small>
                    </div>
                </div>
                
            <div class="col-md-6">
                <h3><%- lang.views.account.security.changePass %></h3>
                <form method="POST" action="/account/security">
                    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                    
                    <label>
                        <%- lang.views.account.security.oldPass %>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="addon-password">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Ancien MDP" required="required" name="password" aria-describedby="addon-password">
                    </div>

                    <label>
                        <%- lang.views.account.security.newPass %>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="addon-newPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Nouveau MDP" required="required" name="newPassword" aria-describedby="addon-newPassword">
                    </div>

                    <label>
                        <%- lang.views.account.security.newPass2 %>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="addon-verifPassword">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Nouveau MDP" required="required" name="verifPassword" aria-describedby="addon-verifPassword">
                    </div>
                    <br>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" <%- (model.login.error !="" ? "" :
                        'style="display:none;"') %>>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>
                            <%- model.login.error %>
                        </strong>
                    </div>
                    <button type="submit" class="btn btn-harps">
                        <%- lang.button.confirm %>
                    </button>
                </form>
            </div>
        </div>
    </main>