<li class="aside-title"><h4><%- lang.sidebar[config.sidebar.type].title %></h4>
<li<%- (config.sidebar.selected == "settings" ? ' class=\"active\"' : "") %>><a href="/account/settings">Profil</a>
<li<%- (config.sidebar.selected == "emails" ? ' class=\"active\"' : "") %>><a href="/account/emails">Email adresses</a>
<li<%- (config.sidebar.selected == "security" ? ' class=\"active\"' : "") %>><a href="/account/security">Security</a>
<li<%- (config.sidebar.selected == "groups" ? ' class=\"active\"' : "") %>><a href="/account/groups">Groups</a>
<li<%- (config.sidebar.selected == "companies" ? ' class=\"active\"' : "") %>><a href="/account/companies">Companies</a>